.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
}
.status-green {
    -fx-background-color:rgba(0,64,0,0.7);
}
.status-blue {
    -fx-background-color:rgba(0,0,128,0.7);
}
.status-light-green {
	-fx-background-color:rgba(50,205,50,0.7);
}
.status-orange{
	-fx-background-color:rgba(255, 153, 0,0.9);
}
.status-yellow{
	-fx-background-color:rgba(255, 255, 0,0.9);
}
.status-turquoise{
	-fx-background-color:rgba(0, 206, 209,0.9);
}
.status-Khaki{
	-fx-background-color:rgba(240, 230, 140,0.9);
}