.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
}
.status-green {
    -fx-background-color:rgba(0,64,0,0.7);
}
.status-blue {
    -fx-background-color:rgba(0,0,128,0.7);
}
.status-light-green {
	-fx-background-color:rgba(50,205,50,0.7);
}
.status-orange{
	-fs-background-color:rgba(255, 153, 0,0.7);
}

.interval-rep {
	-fx-background-color:linear-gradient(to bottom, rgba(211,211,211,0.7),rgba(211,211,211,0.0));
}